---
title: Portifólio
---

.container.submenu
	.row
		.span4
			%img{:src => lorem.image('250x180')}
			%p Comercial
		.span4
			%img{:src => lorem.image('250x180')}
			%p Residencial
		.span4
			%img{:src => lorem.image('250x180')}
			%p Projetos