---
title: Serviços
---

.container.content.submenu
	.row
		.span3
			%img{:src => lorem.image('220x180')}
			%p Projeto de Interiores
		.span3
			%img{:src => lorem.image('220x180')}
			%p Fachada
		.span3
			%img{:src => lorem.image('220x180')}
			%p Paisagismo
		.span3
			%img{:src => lorem.image('220x180')}
			%p Obra de Reforma